#modx-resource-introtext {height: 130px !important;}
#modx-resource-description {height: 101px !important;}
#fastuploadtv1 {width: auto !important; height: auto !important; position: relative;}
#fastuploadtv1 div div:first-child {position: absolute; left: 125px; bottom: -4px; width: auto;}
#fastuploadtv1 div div:first-child img {width: 130px;}
#fastuploadtv1 div div:last-child img {position: absolute; left: 190px; top: -35px; background: #fff; padding: 3px; border-radius: 4px;}
#modx-resource-main-columns .x-form-item.modx-tv {padding-left: 0 !important;}
#modx-resource-main-columns .modx-tv-form-element input {padding: 5px 1% !important; width: 98% !important;}
