#modx-resource-introtext {height: 130px !important;}
#modx-resource-description {height: 101px !important;}
#modx-resource-main-columns .x-form-item.modx-tv {padding-left: 0 !important;}
#modx-resource-main-columns .modx-tv-form-element input {padding: 5px 1% !important; width: 98% !important;}
#modx-resource-main-columns .tv_modx-grid-multitvgrid_items .x-grid3-body,
#modx-resource-main-columns .x-grid3-row {width: 100% !important;}
.modx-js-parse-error {opacity: 1 !important;}
