<!DOCTYPE html>
<html>
<head>
[[$head]]
</head>
<body>
  <div class="container">
    [[$header]]
    [[$menu]]
    <section class="row">
      <article class="col-sm-8">
        <h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
        [[*content]]
        [[[[*gallery:neq=``:then=`$gallery`:else=`--`]]]]
        [[[[*show_child:eq=`1`:then=`$child_list`:else=`--`]]]]
        [[[[*id:eq=`[[++site_start]]`:then=`$block.gallery`:else=`--`]]]]
      </article>
      <aside class="col-sm-4">
        [[$aside]]
      </aside>
    </section>
    [[$footer]]
  </div>
  [[+MinifyX.javascript]]
</body>
</html>