<!DOCTYPE html>
<html>
<head>
{include 'head'}
</head>
<body>
  <div class="container">
    {include 'header'}
    {include 'menu'}
    <section class="row">
      <article class="col-sm-8">
        {var $show_on_page = $_modx->resource.show_on_page}
        {if $show_on_page | match : '*content*'}
          {include 'content'}
        {/if}
        {if $show_on_page | match : '*children*'}
          {include 'child_list'}
        {/if}
      </article>
      <aside class="col-sm-4">
        {include 'aside'}
      </aside>
    </section>
    {include 'footer'}
  </div>
  {include 'scripts'}
</body>
</html>